
body{

    background-color: aqua;
     border: 2px solid black ;
     padding: 30px;
     margin: 20px;
    
}

h1 {

   font-family: 'Times New Roman', Times, serif;
   font-weight: bold; font-size: x-large;
}

button{

  padding: 15px 25px;
  
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  




  